@font-face {
    font-family: "Super Mario Kart";
    src: url("../fonts/super-mario-kart.ttf") format("truetype");
}

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {margin:0;padding:0;border: 0 none;position: relative;}

body {
  background:url("../img/fundo.png") repeat 0 0;
  padding-top: 1rem;
  font-family: "Super Mario Kart";
  animation: animate 8s linear infinite;
}

header {
  text-align: center;
  position: relative; 
  margin-bottom: 1.5rem;
}

.cabecalho {
  width:63%;
}

.semana {
  position: absolute;
  top: 72%;
  right: 23.3%;
  font-size: 2.3vw;
}

ul{
  width: 50%;
  margin: 0 auto;
}

li, .semana {
  color: #fff;
  text-shadow:
    -3.5px -3.5px 0 #3480ef,
     0     -3.5px 0 #3480ef,
     3.5px -3.5px 0 #3480ef,
     3.5px  0     0 #3480ef,   /*borda do texto*/
     3.5px  3.5px 0 #3480ef,
     0      3.5px 0 #3480ef,
    -3.5px  3.5px 0 #3480ef,
    -3.5px  0     0 #3480ef;
}

li {
  display: none;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 1.75em;
}

.emej {
  color: #d2053d;
}

.ivo {
  color: #40e0d0;
}

.jack {
  color: #4B0082;
}

.juninho {
  color: #fe9c05;
}

.maykim {
  color: #ffcb05;
}

.prefeito {
  color: #3480ef;
}

.tiago {
  color: #00cc00;
}

.emej, .prefeito, .ivo, .tiago, .juninho, .jack, .maykim {
  text-shadow:
    -3.5px -3.5px 0 white,
     0     -3.5px 0 white,
     3.5px -3.5px 0 white,
     3.5px  0     0 white, /*borda do texto*/
     3.5px  3.5px 0 white,
     0      3.5px 0 white,
    -3.5px  3.5px 0 white,
    -3.5px  0     0 white;
}

span {
  flex: auto;
  border-bottom: 2px dotted;
  border-image-slice: 0% 0% 100% 0%;
  border-image-width: 0em 0em .22em 0em;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round; 
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzM0ODBlZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+"); /*svg codificado em base64*/
}

.emej span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiNkMjA1M2QiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");
}

.prefeito span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiMzNDgwZWYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");
}

.ivo span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiM0MGUwZDAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");  
}

.tiago span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiMwMGNjMDAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");
}

.juninho span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiNmZTljMDUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");  
}

.jack span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiM0QjAwODIiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");  
}

.maykim span {
  border-image-source: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MiIgaGVpZ2h0PSIyNyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoNDM2djI5SC0xeiIvPjxnPjxwYXRoIGZpbGw9IiNmZmNiMDUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI3IiBkPSJNMy41IDEuMzMzaDI1djI1aC0yNXoiLz48L2c+PC9zdmc+");
}

.posicao {
  margin-right: 1.5rem;
}

.nome {
  padding-right: 1.5rem;
}

.pontuacao {
  min-width: 1rem;
  bottom: 0;
  right: 0;
  padding-left: 1.5rem;
  text-align: right;
}

.exibe {
  display: flex;
  justify-content: center;
}

.oculta {
  opacity: 0;
}

/*background animado*/
@keyframes animate{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 1280px 0;
	}
}

/*configuracoes especiais firefox*/
@-moz-document url-prefix() { 
  .semana {
    top: 65.8%;
  }
}

/*configuracoes responsivas*/
@media only screen and (max-width: 1080px) {
  .cabecalho {
    width:95%;
  }
  ul{
    width: 75%;
  }
  .semana {
    font-size: 3.4vw;
    top: 67%;
    right: 9.9%;
  }
}

/*configuracoes responsivas*/
@media only screen and (max-width: 720px) {
  ul{
    width: 90%;
  }

  li {
    font-size: 1.1rem;
  }

  .semana{
    top: 72%;
  }

  li, .semana {
    text-shadow:
    -2px -2px 0 #3480ef,
     0   -2px 0 #3480ef,
     2px -2px 0 #3480ef,
     2px  0   0 #3480ef,
     2px  2px 0 #3480ef,
     0    2px 0 #3480ef,
    -2px  2px 0 #3480ef,
    -2px  0   0 #3480ef;
  }

  .emej, .prefeito, .ivo, .tiago, .juninho, .jack, .maykim {  
    text-shadow:
    -2px -2px 0 white,
     0   -2px 0 white,
     2px -2px 0 white,
     2px  0   0 white,
     2px  2px 0 white,
     0    2px 0 white,
    -2px  2px 0 white,
    -2px  0   0 white;
  }
  
  .nome {
    padding-right: 1rem;
  }

  .pontuacao {
    padding-left: 1rem;
  }
}