/*reset css*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol {
  list-style: none;
}
/*--fim do reset--*/

:root {
  --blue: #2563eb;
}

h1,
h2,
h3,
span {
  --border-color: var(--blue);
  --border-4px: -4px -4px 0 var(--border-color), -4px -3px 0 var(--border-color),
    -4px -2px 0 var(--border-color), -4px -1px 0 var(--border-color), -4px 0px 0 var(--border-color),
    -4px 1px 0 var(--border-color), -4px 2px 0 var(--border-color), -4px 3px 0 var(--border-color),
    -4px 4px 0 var(--border-color), -3px -4px 0 var(--border-color), -3px -3px 0 var(--border-color),
    -3px -2px 0 var(--border-color), -3px -1px 0 var(--border-color), -3px 0px 0 var(--border-color),
    -3px 1px 0 var(--border-color), -3px 2px 0 var(--border-color), -3px 3px 0 var(--border-color),
    -3px 4px 0 var(--border-color), -2px -4px 0 var(--border-color), -2px -3px 0 var(--border-color),
    -2px -2px 0 var(--border-color), -2px -1px 0 var(--border-color), -2px 0px 0 var(--border-color),
    -2px 1px 0 var(--border-color), -2px 2px 0 var(--border-color), -2px 3px 0 var(--border-color),
    -2px 4px 0 var(--border-color), -1px -4px 0 var(--border-color), -1px -3px 0 var(--border-color),
    -1px -2px 0 var(--border-color), -1px -1px 0 var(--border-color), -1px 0px 0 var(--border-color),
    -1px 1px 0 var(--border-color), -1px 2px 0 var(--border-color), -1px 3px 0 var(--border-color),
    -1px 4px 0 var(--border-color), 0px -4px 0 var(--border-color), 0px -3px 0 var(--border-color),
    0px -2px 0 var(--border-color), 0px -1px 0 var(--border-color), 0px 0px 0 var(--border-color),
    0px 1px 0 var(--border-color), 0px 2px 0 var(--border-color), 0px 3px 0 var(--border-color),
    0px 4px 0 var(--border-color), 1px -4px 0 var(--border-color), 1px -3px 0 var(--border-color),
    1px -2px 0 var(--border-color), 1px -1px 0 var(--border-color), 1px 0px 0 var(--border-color),
    1px 1px 0 var(--border-color), 1px 2px 0 var(--border-color), 1px 3px 0 var(--border-color),
    1px 4px 0 var(--border-color), 2px -4px 0 var(--border-color), 2px -3px 0 var(--border-color),
    2px -2px 0 var(--border-color), 2px -1px 0 var(--border-color), 2px 0px 0 var(--border-color),
    2px 1px 0 var(--border-color), 2px 2px 0 var(--border-color), 2px 3px 0 var(--border-color),
    2px 4px 0 var(--border-color), 3px -4px 0 var(--border-color), 3px -3px 0 var(--border-color),
    3px -2px 0 var(--border-color), 3px -1px 0 var(--border-color), 3px 0px 0 var(--border-color),
    3px 1px 0 var(--border-color), 3px 2px 0 var(--border-color), 3px 3px 0 var(--border-color),
    3px 4px 0 var(--border-color), 4px -4px 0 var(--border-color), 4px -3px 0 var(--border-color),
    4px -2px 0 var(--border-color), 4px -1px 0 var(--border-color), 4px 0px 0 var(--border-color),
    4px 1px 0 var(--border-color), 4px 2px 0 var(--border-color), 4px 3px 0 var(--border-color),
    4px 4px 0 var(--border-color);

  --border-3px: -3px -3px 0 var(--border-color), -3px -2px 0 var(--border-color),
    -3px -1px 0 var(--border-color), -3px 0px 0 var(--border-color), -3px 1px 0 var(--border-color),
    -3px 2px 0 var(--border-color), -3px 3px 0 var(--border-color), -2px -3px 0 var(--border-color),
    -2px -2px 0 var(--border-color), -2px -1px 0 var(--border-color), -2px 0px 0 var(--border-color),
    -2px 1px 0 var(--border-color), -2px 2px 0 var(--border-color), -2px 3px 0 var(--border-color),
    -1px -3px 0 var(--border-color), -1px -2px 0 var(--border-color),
    -1px -1px 0 var(--border-color), -1px 0px 0 var(--border-color), -1px 1px 0 var(--border-color),
    -1px 2px 0 var(--border-color), -1px 3px 0 var(--border-color), 0px -3px 0 var(--border-color),
    0px -2px 0 var(--border-color), 0px -1px 0 var(--border-color), 0px 0px 0 var(--border-color),
    0px 1px 0 var(--border-color), 0px 2px 0 var(--border-color), 0px 3px 0 var(--border-color),
    1px -3px 0 var(--border-color), 1px -2px 0 var(--border-color), 1px -1px 0 var(--border-color),
    1px 0px 0 var(--border-color), 1px 1px 0 var(--border-color), 1px 2px 0 var(--border-color),
    1px 3px 0 var(--border-color), 2px -3px 0 var(--border-color), 2px -2px 0 var(--border-color),
    2px -1px 0 var(--border-color), 2px 0px 0 var(--border-color), 2px 1px 0 var(--border-color),
    2px 2px 0 var(--border-color), 2px 3px 0 var(--border-color), 3px -3px 0 var(--border-color),
    3px -2px 0 var(--border-color), 3px -1px 0 var(--border-color), 3px 0px 0 var(--border-color),
    3px 1px 0 var(--border-color), 3px 2px 0 var(--border-color), 3px 3px 0 var(--border-color);

  --border-2px: -2px -2px 0 var(--border-color), -2px -1px 0 var(--border-color),
    -2px 0px 0 var(--border-color), -2px 1px 0 var(--border-color), -2px 2px 0 var(--border-color),
    -1px -2px 0 var(--border-color), -1px -1px 0 var(--border-color), -1px 0px 0 var(--border-color),
    -1px 1px 0 var(--border-color), -1px 2px 0 var(--border-color), 0px -2px 0 var(--border-color),
    0px -1px 0 var(--border-color), 0px 0px 0 var(--border-color), 0px 1px 0 var(--border-color),
    0px 2px 0 var(--border-color), 1px -2px 0 var(--border-color), 1px -1px 0 var(--border-color),
    1px 0px 0 var(--border-color), 1px 1px 0 var(--border-color), 1px 2px 0 var(--border-color),
    2px -2px 0 var(--border-color), 2px -1px 0 var(--border-color), 2px 0px 0 var(--border-color),
    2px 1px 0 var(--border-color), 2px 2px 0 var(--border-color);
  text-shadow: var(--border-3px);
}

/* temas */
body[theme='dark'] {
  --sky: #00012f;
  --mountain: #58598f;
  --ground: #68699f;
  --cloud: #b8b9e7;
  --ticTacToe: #f3f4f6;
}

body {
  --sky: #ffef94;
  --mountain: #94ef73;
  --ground: #adff84;
  --cloud: #ffffb5;
  --ticTacToe: #f3f4f6;
}

/*-- fim dos temas --*/

/* estados de erro, loading e offline */

.offline,
.error,
.loader {
  display: none;
}

.offline {
  font-size: 1rem;
  text-transform: none;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
}

body[offline] .offline {
  display: flex;
}

.error > div,
.loader > div {
  transform: translateY(-50%);
}

body[loading] .loader,
body[error] .error {
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1000;
  text-align: center;
  text-transform: none;
  letter-spacing: 3px;
  line-height: 2;
}

.loader {
  font-size: 1.25rem;
}

.loader p,
.error p {
  padding-left: 8.5px;
}

.mario g {
  visibility: hidden;
  transform-origin: center center;
}

body:is([loading], [error]) header {
  display: none;
}

body:not([loading], [error]) .background > svg {
  animation: backgroundMove 5s linear infinite;
}

/*-- fim dos estados de erro e loading --*/

body {
  background-color: var(--ground);
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  line-height: 1;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 2rem;
  paint-order: stroke fill;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
}

.container {
  max-width: 864px;
  margin: auto;
}

.background {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.background > svg {
  height: 100vh;
  width: 400vh;
}

.background svg > g,
.background svg > path {
  transition: 3s fill;
}

header {
  padding-top: 3.875rem;
}

h1 {
  font-size: 2.5rem;
  text-shadow: var(--border-4px);
  padding-top: 6px;
  padding-left: 6px;
  letter-spacing: 6px;
}

.title-wrapper {
  margin-bottom: 3.125rem;
  position: relative;
}

.icon {
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
}

.darkModeBtn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(8px, -50%);
  padding: 8px;
  transition: 0.3s transform;
}

.darkModeBtn:hover,
.darkModeBtn:focus-visible {
  transform: translate(8px, -50%) scale(1.1);
}

.darkModeBtn:focus-visible {
  outline: var(--blue) 2px solid;
  border-radius: 5px;
}

.darkModeBtn > .icon {
  background-image: url('./img/buttonIcons.svg');
  background-position: 0 0;
  background-size: cover;
}

[theme='dark'] .darkModeBtn > .icon {
  background-position: 100% 0;
}

header hr {
  background-color: #fff;
  border-radius: 0.5px;
  display: block;
  height: 3px;
  outline: solid 3px var(--blue);
  width: 100%;
}

.info,
.ranking {
  padding: 1rem 2rem 1.1875rem;
}

.ranking {
  margin-top: 1.625rem;
}

.ranking[aria-hidden='true'] {
  display: none;
}

.info,
.ranking li {
  display: flex;
  font-size: 1.5rem;
  gap: 0.75rem;
  justify-content: space-between;
  letter-spacing: 4px;
}

.ranking li {
  padding-top: 6px;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.ranking > li:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.ranking li[aria-hidden='true'] {
  visibility: hidden;
}

.specialColor h3,
.specialColor span {
  transition: 3s;
  transition-property: text-shadow;
}

.specialColor h3,
.specialColor span {
  --border-color: #fff;
}

.info h2 {
  padding-top: 6px;
  text-align: center;
}

.info span {
  font-size: 1rem;
}

.position {
  display: flex;
  gap: 1.5rem;
  text-align: left;
}

.dots {
  overflow: hidden;
  letter-spacing: 0;
  user-select: none;
}

@keyframes backgroundMove {
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@media (min-width: 200vh) {
  .background > svg {
    width: 200vw;
    height: 50vw;
  }
}

@media (max-width: 864px) {
  h1 {
    font-size: 2rem;
  }
  .title-wrapper {
    gap: 1.5rem;
  }
  .info,
  .ranking li {
    font-size: 1.2rem;
  }
  .info {
    line-height: 1.5;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .icon {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 1.5rem;
    text-shadow: var(--border-3px);
  }

  .info,
  .ranking {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .ranking {
    padding-top: 0.125rem;
  }

  .info h2,
  .ranking li {
    font-size: 1rem;
    padding-top: 4px;
    letter-spacing: 1px;
  }
  .info h2,
  .ranking li h3,
  .ranking li span {
    text-shadow: var(--border-2px);
  }
  .info span {
    font-size: 0.75rem;
  }

  .position {
    gap: 0.75rem;
  }
}

@media (max-width: 430px) {
  header {
    padding-top: 2.875rem;
    text-align: left;
  }

  .title-wrapper {
    margin-bottom: 2.25rem;
  }

  .info,
  .ranking {
    padding-left: 0;
    padding-right: 0;
  }

  .ranking > li:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .position {
    line-height: 1.5;
  }
}
